<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.mysqltest.mapper.UserMapper">
    <insert id="add" parameterType="com.andrew.mysqltest.entity.User">
        insert into user (name,password,phone) values (#{name},#{password},#{phone})
    </insert>

    <select id="queryAll" resultType="com.andrew.mysqltest.entity.User">
        select * from user
    </select>

</mapper>

